NEXT_PUBLIC_SUPABASE_URL=https://iumqjkrkpocreqkqgozl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1bXFqa3JrcG9jcmVxa3Fnb3psIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MDg3OTksImV4cCI6MjA5MzI4NDc5OX0.Oki3rpD7B295CMcajhYq3cx4ah2BGpHV3l4c-1uxXw0
